{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load ticket_filter %}
{% block content %}
<div class="fw-bold fs-2 mt-3 mb-3 ms-4 text-decoration-underline">Creating Comment: Ticket #<em>{{ request.path|page_name }}</em></div>
{% include "tickets/includes/ticket_details_display.html" %}
<form method="POST" class="ms-4 me-4 col-6">
    {% csrf_token %}
    <div>{{ form|crispy }}</div>
    <div class="mt-3">
        <a class="btn btn-outline-primary" role="button" href="{% url 'tickets:details' ticket.pk %}" >Cancel</a>
        <input type="reset" class="btn btn-outline-primary" value="Reset">
        <input type="submit" class="btn btn-outline-success" value="Save">
    </div>
</form>
<div class="m-4">
    {% include "tickets/includes/ticket_comments_display.html" %}
</div>
{% endblock %}