{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load ticket_filter %}
{% block content %}
<!--Add functionality to assign user to work ticket-->
<div class="fw-bold fs-2 mt-3 mb-3 ms-4 text-decoration-underline">Updating: Ticket #<em>{{ request.path|page_name }}</em></div>
<form method="POST" class="ms-1">
    {% csrf_token %}
    {% include "tickets/includes/ticket_details_display.html" %}
    <div class="ms-4 me-4">
        <div class="row mb-2">
            <div class="col-2">{{ form.request_type|as_crispy_field }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-1">{{ form.is_resolved|as_crispy_field }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-1">{{ form.priority|as_crispy_field }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-3">{{ assignment_form.assigned_user|as_crispy_field }}</div>
        </div>
        <div class="row mt-3">
            <div class="col-4">{{ comment_form.comment|as_crispy_field }}</div>
        </div>
        <div class="mt-3 mb-3">
            <a class="btn btn-outline-primary" role="button" href="{% url 'tickets:details' ticket.pk %}" >Cancel</a>
            <input type="reset" class="btn btn-outline-primary" value="Reset">
            <input type="submit" class="btn btn-outline-success" value="Save">
        </div>
    </div>
</form>
<div class="m-4">
    {% include "tickets/includes/ticket_comments_display.html" %}
</div>
<!-- <div class="m-4">
    <div class="fs-6">
        <p>{{ ticket|get_comments|length }} Comment(s)</p>
    </div>
    {% for comment in ticket|get_comments %}
    <ul class="list-group">
        <li class="list-group-item">
            <span class="text-info">Comment: </span> <span>{{ comment.comment }}</span><br>
            <span class="text-info">Agent: </span> <span>{{ comment.creator }}</span><br>
            <span class="text-info">Posted: </span> <span>{{ comment.created_on }}</span><br>
        </li>
    </ul>
    {% endfor %}
</div> -->
{% endblock %}